ipykernel
langchain-chroma
langchain-community
langchain-experimental
langchain-groq
langchain-huggingface
langchain-openai
langchain
langgraph
matplotlib
python-dotenv
pytube
unstructured
wikipedia
youtube-transcript-api